<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
	<display-name>Archetype Created Web Application</display-name>
	<servlet>
		<servlet-name>RegisterServlet</servlet-name>
		<display-name>RegisterServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.RegisterServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<display-name>DeleteServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<display-name>UpdateServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<display-name>LoginServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TeamsServlet</servlet-name>
		<display-name>TeamsServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.TeamsServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>LoginServlet1</servlet-name>
		<display-name>LoginServlet1</display-name>
		<description></description>
		<servlet-class>com.servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>PlayersServlet</servlet-name>
		<display-name>PlayersServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.PlayersServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteTeamServlet</servlet-name>
		<display-name>DeleteTeamServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DeleteTeamServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>VenueServlet</servlet-name>
		<display-name>VenueServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.VenueServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteVServlet</servlet-name>
		<display-name>DeleteVServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DeleteVServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ScheduleServlet</servlet-name>
		<display-name>ScheduleServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.ScheduleServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>ResultServlet</servlet-name>
		<display-name>ResultServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.ResultServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AdminloginServlet</servlet-name>
		<display-name>AdminloginServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.AdminloginServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>DeleteUserServlet</servlet-name>
		<display-name>DeleteUserServlet</display-name>
		<description></description>
		<servlet-class>com.servlet.DeleteUserServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RegisterServlet</servlet-name>
		<url-pattern>/RegisterServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TeamsServlet</servlet-name>
		<url-pattern>/TeamsServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet1</servlet-name>
		<url-pattern>/LoginServlet1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>PlayersServlet</servlet-name>
		<url-pattern>/PlayersServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteTeamServlet</servlet-name>
		<url-pattern>/DeleteTeamServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>VenueServlet</servlet-name>
		<url-pattern>/VenueServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteVServlet</servlet-name>
		<url-pattern>/DeleteVServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ScheduleServlet</servlet-name>
		<url-pattern>/ScheduleServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ResultServlet</servlet-name>
		<url-pattern>/ResultServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AdminloginServlet</servlet-name>
		<url-pattern>/AdminloginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>DeleteUserServlet</servlet-name>
		<url-pattern>/DeleteUserServlet</url-pattern>
	</servlet-mapping>
</web-app>
